input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div .signup-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    max-width: 50%;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;

}

.signedup {
    color: cornflowerblue;
    font-weight: bold;

}



